<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>jWebSocket Web Application</display-name>
    <context-param>
        <description>Valid options of jWebSocket_Mode:
stand-alone: configuration by jWebSocket.xml
embedded: programmatic configuration
default: embedded</description>
        <param-name>jWebSocket_Mode</param-name>
        <param-value>embedded</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.jwebsocket.appserver.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>WebSocketComm</servlet-name>
        <servlet-class>org.jwebsocket.appserver.WebSocketComm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebSocketComm</servlet-name>
        <url-pattern>/WebSocketComm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>
